body {
    
    text-align: center;
    background-color: burlywood;
}


#img1{
    height: 500px;
    width: 900px
}

#img2{
    height: 500px;
    width: 900px
}


#img3{
    height: 500px;
    width: 900px
}



#img4{
    height: 500px;
    width: 900px
}

